@font-face {
  font-family: "iconfont"; /* Project id 2888616 */
  src: url('//at.alicdn.com/t/font_2888616_azb9ppsjfcm.woff2?t=1635082064382') format('woff2'),
       url('//at.alicdn.com/t/font_2888616_azb9ppsjfcm.woff?t=1635082064382') format('woff'),
       url('//at.alicdn.com/t/font_2888616_azb9ppsjfcm.ttf?t=1635082064382') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 22px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kuan:before {
  content: "\e8fa";
}

.icon-wenjianjia:before {
  content: "\e601";
  color: blue;
}

.icon-guidang1:before {
  content: "\e60c";
  color: orange
}

.icon-zhuye:before {
  content: "\e635";
  color: red;
}

.icon-GitHub:before {
  content: "\ea0a";
}

.icon-dianziyoujian:before {
  content: "\e643";
  color: blue;
}

.icon-biaoqian:before {
  content: "\e671";
  color: green;
}

.icon-zhuti:before {
  content: "\e667";
}

.icon-guanyu:before {
  content: "\eb02";
  color:yellow;
}

.icon-youlian:before {
  content: "\e600";
  color: orange
}

