@font-face {
  font-family: "iconfont"; /* Project id 2888616 */
  src: url('//at.alicdn.com/t/font_2888616_letafc6bheg.woff2?t=1635120695034') format('woff2'),
       url('//at.alicdn.com/t/font_2888616_letafc6bheg.woff?t=1635120695034') format('woff'),
       url('//at.alicdn.com/t/font_2888616_letafc6bheg.ttf?t=1635120695034') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coolapk:before {
  content: "\e602";
}

.icon-github:before {
  content: "\e63a";
  font-size: 22px;
}

.icon-kuan:before {
  content: "\e8fa";
  font-size: 22px;
}

.icon-wenjianjia:before {
  content: "\e601";
  font-size: 22px;
}

.icon-guidang1:before {
  content: "\e60c";
  font-size: 22px;
}

.icon-zhuye:before {
  content: "\e635";
  font-size: 22px;
}

.icon-dianziyoujian:before {
  content: "\e643";
  font-size: 22px;
}

.icon-biaoqian:before {
  content: "\e671";
  font-size: 22px;
}

.icon-zhuti:before {
  content: "\e667";
  font-size: 22px;
}

.icon-guanyu:before {
  content: "\eb02";
  font-size: 22px;
}

.icon-youlian:before {
  content: "\e600";
  font-size: 22px;
}

